* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.navbar {
    background-color: #F0E0D1;
  }

  .navbar navbar-expand-lg navbar-light bg-light {
    background-color: #F0E0D1;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    font-weight: bold;
    background-color: #F0E0D1;
  }
  
  /* Responsive breakpoints */
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .nav-link {
      padding-right: 0.25rem;
      padding-left: 0.25rem;
    }
  }

#raam {
    background-color: #D61841;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    padding: 20px;

}

#portada {
    text-align: center;
    padding: 400px;
    display: flex;
    flex-flow: column;
    align-items: center
}

.box1 {
    padding: 300px;
}

.box2 {
    padding: 300px;
}

.box3 {
    padding: 300px
}

.box4 {
    padding: 300px
}

.box5 {
    padding: 300px
}

.fieldset1 {

    width: 600px;
}

.input1 {

    height: 100px;
    width: 300px
}

.servicio {
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: black
}

.nav-raam {

    color: white
}


footer {
    background-color: #AEADAD;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-evenly;
    font-size: 10px;
}

footer ul {
    list-style: none
}

.row2 {
    display: flex;
    align-items:center;
    justify-content: center;
}

.footersecciones {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}